.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #00A09D;
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
}
ul.flex-column > li > a {
    padding: 2px 15px;
}
.nav-link {
    display: block;
}
.media {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin: 10px;
}
#record_left_content {
    float: left;
    margin-left: 20%;
}

#record_right_content {
    float: right;
    margin-right: 20%;
}
#timetable_hours{
    float: left;
    width: 100%;
}
#middle_column > div > div.o_portal_docs.list-group > a > i {
    color: #6c757d !important;
}
#middle_column > div > div.o_portal_docs.list-group > a > span.sm-link__label {
    color: #6c757d !important;
}
/* Transition effects */
.sm-link{
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    --uismLinkTextColor: var(--smLinkTextColor);
    --uismLinkTextColorHover: var(--smLinkTextColorHover);
    display: var(--uismLinkDisplay);
    color: var(--uismLinkTextColor);
    position: relative;
    overflow: hidden;
}
a.sm-link{
    text-decoration: none;
}
.sm-link__label{
  display: block;
}
.sm-link_padding-all{
    --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
    --uismLinkLineColor: var(--smLinkLineColor, #000);
    --uismLinkPadding: var(--smLinkPadding, 5px);
    padding: var(--uismLinkPadding);
}
.sm-link_padding-all::before, 
.sm-link_padding-all::after{
    width: 100%;
    height: var(--uismLinkLineWeight);
    left: 0;
}
.sm-link_padding-all::before{
    top: 0;
}
.sm-link_padding-all::after{
    bottom: 0;
}
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
    width: var(--uismLinkLineWeight);
    height: 100%;
    top: 0;
}
.sm-link_padding-all .sm-link__label::before{
    left: 0;
}
.sm-link_padding-all .sm-link__label::after{
    right: 0;
}
.sm-link_padding-all::before,
.sm-link_padding-all::after,
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
    content: "";
    background-color: var(--uismLinkLineColor);
    position: absolute; 
    opacity: 0;
    will-change: transform, opacity;
    transition-property: transform, opacity;
}
.sm-link_padding-all:hover::before,
.sm-link_padding-all:hover::after,
.sm-link_padding-all:hover .sm-link__label::before,
.sm-link_padding-all:hover .sm-link__label::after{
    opacity: 1;
}
.sm-link_padding-bottom{
    --uismLinkLineWeight: var(--smLinkLineWeight, 2px);
    --uismLinkLineColor: var(--smLinkLineColor, #000);  
    padding-bottom: var(--uismLinkLineWeight);  
    position: relative;
}
.sm-link_padding-bottom::after{
    content: "";
    width: 100%;
    height: var(--uismLinkLineWeight);
    background-color: var(--uismLinkLineColor);
    position: absolute;
    left: 0;
    bottom: 0;
}
.sm-link_bg {
    --uismLinkLineColor: var(--smLinkLineColor, #000);  
    --uismLinkTextColorHover: var(--smLinkTextColorHover, #fff);    
    --uismLinkPadding: var(--smLinkPadding, 5px);
    padding: var(--uismLinkPadding);
    transition: color .3s ease-out;
}
.sm-link_bg::before, 
.sm-link_bg::after{
    content: "";
    background-color: var(--uismLinkLineColor); 
    opacity: 0;
    position: absolute;
    transition: transform .2s ease-out, opacity .2s ease-out .03s;
}
.sm-link_bg .sm-link__label{
    position: relative;
    z-index: 2;
}
.sm-link_bg:hover::before, 
.sm-link_bg:hover::after{
    opacity: 1;
    transition-duration: .35s, .35s;
    transition-delay: 0s, 0s;
}
.sm-link_bg:hover{
    color: var(--uismLinkTextColorHover);
}
.sm-link_text::before{
    content: attr(data-sm-link-text);
    color: var(--uismLinkTextColorHover);
    position: absolute;
}
.sm-link_text::before, 
.sm-link_text .sm-link__label{
    transition-property: transform;
    transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
    transition-duration: .3s;
}
.sm-link_text:hover::before,
.sm-link_text:hover .sm-link__label{
    transition-duration: .4s;
}
.sm-link7::before{
    left: 0;
    top: 0;
    transform: translate3d(-110%, 0, 0);
}
.sm-link7 .sm-link__label,
.sm-link7:hover::before{
    transform: translate3d(0, 0, 0);
}
.sm-link7:hover .sm-link__label{
    transform: translate3d(110%, 0, 0);
}
